body{
	/*http://wallpapersus.com/wp-content/uploads/2012/10/Black-Background-Metal-Hole-Very-Small.jpg*/
	/*http://fotodes.ru/upload/img1350073774.jpg*/

	background-image: url("http://fc04.deviantart.net/fs71/i/2010/277/c/c/house_by_lucas_ps-d302egj.jpg");
	background-color: #cccccc;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	background-image: url("http://fc04.deviantart.net/fs71/i/2010/277/c/c/house_by_lucas_ps-d302egj.jpg");
	background-color: #cccccc;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.user-bar{
	position: absolute;
	left: 180px;
	display: none;
}

.login-bar, .facebook-top-bar, .TopUserBar3{
	position: absolute;
	border-top-left-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0px;
	left: -30px;
	top: 0px;
	width: 330px;
	height: 45px;
	background: #ecf0f1;
	z-index: -10;
}

.facebook-top-bar{
	left: 470px;
	width: 150px;
	height: 37px;
	top: 4px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #27BFF4;
	cursor: hand;
}
.facebook-top-bar:hover{
	background: #3498db;
}
.TopUserBar3{
	left: 645px;
	width: 330px;
	border-top-left-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 10px;
}

#logInBoxes{
	position: absolute;
	left: 165px;
	top: 8px;
}

#name, #pw, #search{
	position: absolute;
	top: 0px;
	background: #white;
	border: 1px solid #eaedf2;
	border-radius: 3px;
	height: 10px;
	padding: 8px 25px 8px 10px;
	width: 60px;
	outline: none;
	font-family: inherit;
}

#name{
	left: -140px;
	width: 70px;
}

#pw{
	left: -27px;
}

#search{
	width: 180px;
}

#log-in-button{
	position: absolute;
	background: #3498db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 60px;
	height: 26px;
	left: 80px;
	top: 1px;
	cursor: hand;
	border: none;
}

#log-in-button:hover{
	background:#2980b9;
}

#log-in-text{
	 position: absolute;
	 color: white;
	 left: 8px;
	 top: 5px;
	 font-size: 14px;
	 font-weight: 300;
}

#search-button{
	position: absolute;
	background: #95a5a6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 70px;
	height: 26px;
	left: 225px;
	top: 1px;
	cursor: hand;
	border: none;
}

#search-button:hover{
	background: #7f8c8d;
}

#search-button p{
	position: absolute;
	color: white;
	left: 12px;
	top: -10px;
	font-size: 14px;
	font-weight: 300;
}

#welcomeUserText{
	position: absolute;
	left: 150px;
	top: 8px;
	display: none;
}

.verticalLine, #verticalLine1, #verticalLine2, #verticalLine3{
	position: absolute;
	left: 279px;
	top: 21px;
	width: 38px;
	line-height: 1px;
	background: #bdc3c7;
	padding: 1px;
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* WebKit: Chrome/Safari */
	-o-transform:rotate(90deg); /* Opera */
	-ms-transform:rotate(90deg); /* IE9 */
	z-index: 100;
}

#verticalLine1{
	left: 371px;
	top: 22px;
}

#verticalLine2{
	left: 460px;
}

#verticalLine3{
}

#signUp{
	position: absolute;
	white-space: nowrap;
	font: 20px Tahoma, Geneva, sans-serif;
	position: absolute;
	top: 5px;
	left: 398px;
	background: #ff6860;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 70px;
	height: 35px;
	cursor: hand;
	border: none;
}

#signUp:hover{
	background: #7f8c8d;
}

#signUp p{
	position: absolute;
	color: white;
	left: 19px;
	top: -14px;
	font-size: 13px;
	font: sans-serif;
	font-weight: bold;
}

#forgotLogin{
	position: absolute;
	white-space: owrap;
	font: 10px Tahoma, Geneva, sans-serif;
	position: absolute;
	top: 5px;
	left: 327px;
	background: #f1c40f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 70px;
	height: 35px;
	cursor: hand;
	border: none;
}


#forgotLogin:hover{
	background: #7f8c8d;
}

#forgotLogin p{
	position: absolute;
	color: white;
	left: 11px;
	top: -9px;
	font-size: 11px;
	font: sans-serif;
	font-weight: bold;
}

.facebookLogIn{
	position: absolute;
	left: 13px;
	top: 14px;
	border: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.facebookLogIn img{
	 position: absolute;
	 top: -17px;
	 left: -16px;
	 width: 36px;
	 height: 40px;
	 border-top-left-radius: 10px;
	 border-bottom-left-radius: 10px;
}

.facebookLogIn p{
	position: absolute;
	color: white;
	left: 33px;
	top: -26px;
	font-size: 14px;
	font: sans-serif;
	font-weight: bold;
}

.search-box{
	position: absolute;
	top: 8px;
	left: 20px;
}

.button img{
	position: absolute;
	left: 500px;
	top: 300px;
	width: 70px;
	height: 70px;
	-webkit-animation: rotation 4s infinite linear;
	-moz-animation: rotation 4s infinite linear;
	animation: rotation 4s infinite linear;
}

.button img:hover{
	-webkit-animation: rotation 2s infinite linear;
	-moz-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
}

@-moz-keyframes rotation { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotation { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rotation { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.border{
	position: absolute;
	box-shadow: 3px 10px 7px #deefe5;
	left: 350px;
	top: 170px;
	width: 570px;
	height: 350px;
	background: #ecf0f1;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	z-index: 10;
}

#TriAnimeLayout{
	position: absolute;
	left: -255px;
	top: -160px;
	z-index: 20;
}

#dotAndPhoto{
	position: absolute;
	left: -10px;
	top: -10px;
}

#line{
	position: absolute;
	left: 594px;
	top: 300px;
	width: 120px;
	line-height: 1px;
	background: #95a5a6;
	padding: 1px;
	display: none;
}

#diagonalLine{
	position: absolute;
	left: 560px;
	top: 311px;
	width: 36px;
	line-height: 1px;
	background: #95a5a6;
	padding: 1px;
	-moz-transform:rotate(145deg); /* Firefox */
	-webkit-transform:rotate(145deg); /* WebKit: Chrome/Safari */
	-o-transform:rotate(145deg); /* Opera */
	-ms-transform:rotate(145deg); /* IE9 */
	display: none;
}

#selectLine{
	position: absolute;
	left: 376px;
	top: 300px;
	width: 100px;
	line-height: 1px;
	background: #95a5a6;
	padding: 1px;
	display: none;
}

#diagonalSelectLine{
	position: absolute;
	left: 473px;
	top: 310px;
	width: 36px;
	line-height: 1px;
	background: #95a5a6;
	padding: 1px;
	-moz-transform:rotate(35deg); /* Firefox */
	-webkit-transform:rotate(35deg); /* WebKit: Chrome/Safari */
	-o-transform:rotate(145deg); /* Opera */
	-ms-transform:rotate(145deg); /* IE9 */
	display: none;
}

h2 {
	font: Helvetica, Arial, Sans-Serif;
	text-align: center;
	color: #D8D8D8;
}

#waterloo1, #waterloo2, #waterloo3, #waterloo4, #waterloo5, #waterloo6{
	position: absolute;
	width: 1px;
	line-height: 1px;
	padding: 3px;
	opacity: 0.5;
	border-radius: 50%;
	z-index: 20;
	display: none;
	background-color: #141975
}

#waterloo1{
	left: 590px;
	top: 342px;
}

#waterloo2{
	left: 625px;
	top: 342px;
}

#waterloo3{
	left: 660px;
	top: 342px;
}

#waterloo4{
	left: 695px;
	top: 342px;
}

#waterloo5{
	left:720px;
	top:357px;
}

#waterloo6{
	left:748px;
	top:377px;
}

#waterloo7{
	position: absolute;
	left: 753px;
	top: 373px;
	width: 1px;
	line-height: 1px;
	padding: 1em;
	opacity: 0.9;
	z-index: 20;
	display: none;
	height: 50px;
	width: 50px;
}

#toronto1, #toronto2, #toronto3, #toronto4{
	position: absolute;
	width: 1px;
	background-color: #ff6860;
	line-height: 1px;
	padding: 3px;
	opacity: 0.5;
	border-radius: 50%;
	z-index: 20;
	display: none;
}

#toronto1{
	left: 505px;
	top: 370px;
}

#toronto2{
	left: 482px;
	top: 388px;
}

#toronto3{
	left: 457px;
	top: 408px;
}

#toronto4{
	left: 432px;
	top: 428px;
}

#toronto5{
	position: absolute;
	left: 160px;
	top: 445px;
	padding: 3px;
	opacity: 0.7;
	z-index: 20;
	display: none;
}

#top1, #top2, #top3, #top4{
	position: absolute;
	left: 540px;
	width: 1px;
	line-height: 1px;
	padding: 3px;
	opacity: 0.5;
	border-radius: 50%;
	z-index: 20;
	display: none;
	background-color: #f1c40f;
}

#top1{
	top: 300px;
}

#top2{
	top: 280px;
}

#top3{
	top: 255px;
}

#top4{
	top: 228px;
}

#campus{
	position: absolute;
	left: 425px;
	top: 65px;
	padding: 3px;
	opacity: 0.7;
	z-index: 20;
	display: none;
}

#signUpUnit{
	position: absolute;
	top: 220px;
	left: 500px;
	display: none;
}
