@charset "utf-8";
/* CSS Document */

body{
	background: rgb(92, 92, 92); //or #3498db or #ff6860
}

#border{
 position: absolute;
 left: -130px;
}

.halfCircleLeft{
	position: absolute;
     height: 40px;
     width: 20px;
     border-radius: 90px 0 0 90px;
     -moz-border-radius: 90px 0 0 90px;
     -webkit-border-radius: 90px 0 0 90px;
     background: white;
}

#half-circle-positive{
	top: 102px;
	left: 415px;
	background: #3498db;
}

#half-circle-negative{
	top: 40px;
	left: -18px;
}

#half-circle-negative h2{
	position: absolute;
	top: -18px;
	left: 7px;
	color: #eaedf2;
}
#sign-Up-Box{
	position: absolute;
	background: white;
	left: 450px;
	top: 35px;
	border: 1px solid #eaedf2;
	border-radius: 20px;
	height: 530px;
	width: 400px;
	padding: 20px 0 20px 30px;
	outline: none;
	font-family: inherit;
}

#name, #pw, #confirmPw, #email{
	position: absolute;
	left: 50px;
	background: #eaedf2;
	border: 1px solid #eaedf2;
	border-radius:3px;
	height: 20px;
	padding: 18px 0 18px 30px;
	width: 315px;
	outline: none;
	font-family: inherit;
}

#name{
	top: 80px;
}

#pw{
	top: 130px;
}

#confirmPw{
	top: 180px;
}

#email{
	top: 230px;
}

.divider {
	position: absolute;
	left: 30px;
	top: 300px;
	width: 350px;
	border: 1px dashed #ccc;
}

#dividerClone {
	left: 80px;
	top: 45px;
	width: 150px;
	border: 1px dashed #ccc;
}

#recaptcha-Box{
	position: absolute;
	left: 50px;
	top: 330px;
}

#submit-button{
	position: absolute;
	background: #3498db;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 310px;
	height: 50px;
	left: 55px;
	top: 490px;
	cursor: hand;
	border: none;
}

#submit-button:hover{
	background: #2980b9;
}

#submit-button h2{
	position: absolute;
	color: white;
	left: 110px;
	top: -10px;
	font-size: 25px;
	font-weight: 300;
}

#hintBox{
	position: absolute;
	top: 270px;
	left: 100px;
}

#other-sign-up-border{
	position: absolute;
	background: white;
	left: 950px;
	top: 100px;
	border: 1px solid #eaedf2;
	border-radius: 20px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 130px;
	width: 300px;
	padding: 20px 0 20px 30px;
	outline: none;
	font-family: inherit;
}

#Facebook{
	position: absolute;
	left: 60px;
	top: 60px;
	background: #0084b4;
	height: 40px;
	width: 200px;
	border-radius: 10px;
	cursor: hand;
}

#Facebook h3{
	position: absolute;
	top: -10px;
	left: 100px;
	color: white;
}

#Twitter{
	position: absolute;
	left: 60px;
	top: 115px;
	background: #9ae4e8;
	height: 40px;
	width: 200px;
	border-radius: 10px;
	cursor: hand;
}

#Twitter h3{
	 position: absolute;
	 top: -10px;
	 left: 100px;
	 color: white;
}

#other-sign-up-border{
	left: 883px;
	top: 97px;
}

#other-sign-up-border h1{
	position: absolute;
	left: 100px;
	top: -6px;
	font-size: 24px;
	color: #dbdde2;
}

#username-error-box, #password-error-box, #retype-error-box, #email-error-box{
	position: absolute;
	background: #ff004e;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 200px;
	height: 45px;
	display: none;
}

#username-error-box{
	background: rgb(232, 132, 107);
	top: 120px;
	left: 100px;
}

#password-error-box{
	background: #f1c40f;
	top: 170px;
	left: 100px;
}

#retype-error-box{
	background: #95a5a6;
	top: 220px;
	left: 100px;
}

#email-error-box{
	background: rgb(74, 211, 145);
	top: 270px;
	left: 100px;

}

#user-error-p, #password-error-p, #retype-error-p, #email-error-p{
	color: white;
	position: absolute;
	top: -15px;
	left: 8px;
	font-size: 15px;
	font-weight: bold;
}

.triangleRight{
	position: absolute;
	left: 203px;
	border-left: 10px solid red;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

#triangle1{
	top: 10px;
	border-left: 10px solid rgb(232, 132, 107);
}

#triangle2{
	top: 10px;
	border-left: 10px solid #f1c40f;
}

#triangle3{
	top:10px;
	border-left: 10px solid #95a5a6;
}

#triangle4{
	top:10px;
	border-left: 10px solid rgb(74, 211, 145);
}