@charset "utf-8";
/* CSS Document */

#container{
	position: relative;
	top: 150px;
	left: 230px;
}

#containerBackground {
	position: absolute;
	//box-shadow: 3px 3px 10px 7px #deefe5;
	border-style: dotted;
	border-width: 1px;
	border-color: #CCC;
	left: -80px;
	top: -15px;
	width: 880px;
	height: 190px;
	background: #FFF;
	border-radius: 15px;
	border-bottom-left-radius: 15px;
	z-index: -10;
	opacity: 1.0;
}

#image{
	position: absolute;
	top: 0px;
	left: 0px;
}

#address{
	position: absolute;
	top: 0px;
	left: 40px;
}

#preview{
	position: absolute;
	top: -150px;
	left: 0px;
}

#title{
	position: absolute;
	top: 5px;
	left: 540px;
}

#words{
	position: absolute;
	top: 30px;
	left: 540px;
}

#previous{
	position: absolute;
	width: 70px;
	height: 70px;
	top: 50px;
	left: -150px;
}

#next{
	position: absolute;
	width: 70px;
	height: 70px;
	top: 50px;
	left: 800px;
}

#box{
	position: absolute;
	top: 0px;
	left: 160px;
	background: #ECF0F1;
	height: 160px;
	width: 350px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
}

#box2{
	position: absolute;
	top: 0px;
	left: 520px;
	background: #ECF0F1;
	height: 160px;
	width: 230px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
}

#box3{
	position: absolute;
	top: -15px;
	left: -80px;
	background: #95A5A6;
	height: 190px;
	width: 60px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 0px;
}

#addressBox{
	position: absolute;
	top: 0px;
	left: 160px;
	background: #BDC3C7;
	height: 30px;
	width: 350px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}

#address{
	position: absolute;
	top: 5px;
	left: 20px;
}

#ratingBox{
	position: absolute;
	top: 0px;
	left: 520px;
	background: #BDC3C7;
	height: 30px;
	width: 230px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
}

#rating1{
	position: absolute;
	top: 5px;
	left: 20px;
}

#topHousesBubble{
	position: absolute;
	top: 80px;
	left: 165px;
	background: #F1C40F;
	height: 70px;
	width: 70px;
	-moz-border-radius-topleft: 100px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-top-left-radius: 100px;
	-webkit-border-top-right-radius: 100px;
	-webkit-border-bottom-left-radius: 100px;
	-webkit-border-bottom-right-radius: 0px;
	transform:rotate(7deg);
	-moz-transform: rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
	z-index: 100;
	//box-shadow: 3px 3px 10px #3FC;
}

#topHousesBubble h4{
	position: absolute;
	top: -10px;
	left: 0px;
	height: 70px;
	width: 70px;
	z-index: 101;
	text-align: center;
	color: #ECF0F1;
}


