<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>HouseScale Sign Up Page</title>
	<link rel = "stylesheet" href="css/signUp.css"  type = "text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
	<script src="js/validation.js"></script>
    <script src="js/signUp.js"></script>
	
</head>

<body>

<!-------------------------------------------------------facebook--------------------------------------------------->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '732678756757848',                        // App ID from the app dashboard
      channelUrl : 'http://localhost:3000', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };
  
  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "http://connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

	function doLogin(){   
		FB.login(function(response) {
		
			if (response.authResponse) {
				console.log('Welcome!  Fetching your information.... ');
				FB.api('/me', function(response) {
				console.log('Good to see you, ' + response.name + '.');
			 });
			} else {
				console.log('User cancelled login or did not fully authorize.');
			}
		});
 
	}
	
	function getStatus(){
		FB.getLoginStatus(function(response) {
			if (response.status === 'connected') {
			  // the user is logged in and has authenticated your
			  // app, and response.authResponse supplies
			  // the user's ID, a valid access token, a signed
			  // request, and the time the access token 
			  // and signed request each expire
			  var uid = response.authResponse.userID;
			  var accessToken = response.authResponse.accessToken;
			  alert(uid);
			  alert(accessToken);
			  $.post("server/facebookLogin.php", { userid: uid, accessToken: accessToken }, function(string){
			alert(string);
				 
			  });
			  
			} else if (response.status === 'not_authorized') {
			  // the user is logged in to Facebook, 
			  // but has not authenticated your app
			  alert("3");
			} else {
				alert("4");
			  // the user isn't logged in to Facebook.
			}
		});
	}
</script>
<!------------------------------------------------------------------------------------------------------------------------------>

<div id="border">

	<div id="sign-Up-Box">
		
		<h1 style="position:absolute; left:150px; top:0px;">Sign up</h1>
    
        <form id="Signup">
            <input type="text" placeholder="username"  id='name' size="15px"><br>
            <input type="password" placeholder="password" id='pw' size="10px"><br>
             <input type="password" placeholder="retype-password" id='confirmPw' size="10px"><br>
            <input type="text" placeholder="email" id='email' size="10px"><br>
            
            <div class="divider"></div>  
    
            
            
            <!--------------------------------recaptcha code-------------------------------------------------->
			<script type="text/javascript">
			var RecaptchaOptions = {theme : 'white'};
			</script>
            <div id="recaptcha-Box">
                <script type="text/javascript"
                   src="http://www.google.com/recaptcha/api/challenge?k=6LdXFOcSAAAAAEqdPIh2MJ8YpSDDWvl_Hv5kxdpI">
                </script>
                <noscript>
                   <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LdXFOcSAAAAAEqdPIh2MJ8YpSDDWvl_Hv5kxdpI"
                       height="300" width="500" frameborder="0"></iframe><br>
                   <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                   </textarea>
                   <input type="hidden" id="recaptcha_response_field"
                       value="manual_challenge">
            	</noscript>
            </div>
            <!------------------------------------------------------------------------------------------------>
    
            <div id="submit-button" onClick="signUp();return false;">
             	<h2>Submit</h2>
            </div>         
    
        </form>
        
        <div id="hintBox" style="color:#F00">
        </div> 
        <div class="halfCircleLeft" id="half-circle-positive"></div>               
	</div>
    
    
		<div id="other-sign-up-border">
        	<h1 >log in with</h1>
        	<div class="halfCircleLeft" id="half-circle-negative" >
            	<h2>or</h2>
            </div>
            <div class="divider" id="dividerClone"></div>
        	<div id="Facebook" onClick="doLogin();">
            	<h3>facebook</h3>
            </div>
            <div id="Twitter" onClick="getStatus();">
            	<h3>twitter</h3>
            </div>
        </div>
        
</div>

    <div class="error-boxes">
        <div id="username-error-box">
        <p id="user-error-p"></p>
        	<div class="triangleRight" id="triangle1"></div>
        </div>
        <div id="password-error-box">
        <p id="password-error-p"></p>
        	<div class="triangleRight"id="triangle2"></div>
        </div>
        <div id="retype-error-box">
        <p id="retype-error-p"></p>
        	<div class="triangleRight" id="triangle3"></div>
        </div>
        <div id="email-error-box">
        <p id="email-error-p"></p>
        	<div class="triangleRight" id="triangle4"></div>
    	</div>
    </div>
        
	 
</body>
</html>

